
section.about{
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #2d2c2c;
}

.about-title h4{
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: #484848ad;
}

.about-title h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.about-split{
    margin-top: 0px;
    max-width: 65%;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.about-text, .image-container{
    display: flex;
    flex: 1;
    justify-content: center;
}

.about-text{
    flex: 2;
}

.about-text {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 12px;
    color: #484848ad;
}

.about-text p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align:left;
}

.about-text-color{
    font-weight: 500;
    color: #FF5A5F;
}

.image-container{
    display: flex;
    justify-content: flex-start;
}

.cube-spinner{
    margin-top: 70%;
    animation: spine-cube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    
    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 5px solid #ff5a60;
        border-radius: 8px;
        background: #ff5a60bb;
        text-align: center;
        font-size: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .face-1 {
        transform: translateZ(100px);
        color: white;
    }
    .face-2 {
        transform: rotateY(90deg) translateZ(100px);
        color: white;
    }
    .face-3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        color: white;
    }
    .face-4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        color: white    }
    .face-5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        color: white    }
    .face-6 {
        transform: rotateX(-90deg) translateZ(100px);
        color: white;
    }
}

@keyframes spine-cube {
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateX(90deg);
    }
}


@media only screen and (max-width: 1100px) {
    .about-text p{
        font-size: 1rem;
    }
    .about-split{
        margin-top: 3rem;
    }
}


@media only screen and (max-width: 900px) {
    section.about{
        background-color: #ff5a6017;
    }
    .about-split{
        margin-top: 3rem;
        margin-left: 2rem;
        flex-direction: column;
    }
    .cube-spinner{
        margin-top: -6rem;
        margin-bottom: 18rem;
    }
}

