section.projects{
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projects-title{
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #484848;
}

.projects-title h4{
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: #484848ad;
}

.projects-title h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.section-projects{
    margin-top: 0px;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
}

.project-container{
    display: flex;
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 5.5rem;
}

.project-container.left{
    flex-direction: row-reverse;
}


.project-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    margin: 0px -10px;
    z-index: -1;
}

.project-image-container img{
    width: 120%;
}

.project-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.project-container.right .project-text-container{
    align-items: end;
    text-align: right;
}

.project-container.left .project-text-container{
    align-items: start;
    text-align: left;
}

.text-overlap{
    padding: 1.2rem 0.5rem 1.2rem 0.1rem;
    border-radius: 1px;
    border-top: 2px solid #7d7d7d;
    background-color: #ffffff;
    box-shadow: 3px 3px 0 2px #484848;
    color: #7d7d7d;
    width: 100%;
}

.right .text-overlap{
    box-shadow: -3px 3px 0 2px #484848;
    padding: 1.2rem 0.1rem 1.2rem 0.9rem;
}


.project-name{
    font-weight: 400;
    color: #484848;
    margin-bottom: 1rem;
}

.inline-color-text{
    color:#FF5A5F;
}

.tech-stack{
    margin: 1rem 0.1rem 1rem 0.2rem;
    font-size: smaller;
    font-weight: 300;
    color: #7d7d7d;
}

.links{
    display: flex;
    gap: 1rem;
}

.links a{
    text-decoration: none;
}

.links button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-radius: 10em;
    font-size: 15px;
    font-weight: 400;
    padding: 0.4rem 1rem;
    border: 2px solid #484848;
    color: #484848;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.links button.live-code svg path {
    fill: #FF5A5F;
}

button.live-code{
    color: #FF5A5F;
    border: 2px solid #FF5A5F;
}

.links button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #FF5A5F;
}

.links button.repo-link:hover {
    box-shadow: 2px 5px 0 0 #484848;
}


@media only screen and (max-width: 1000px) {
    .project-container{
        gap:2rem;
    }
}

@media only screen and (max-width: 900px) {
    .section-projects{
        width: 60%;
    }
    .project-image-container img{
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
    .project-container, .project-container.left{
        height: auto;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 0.7rem;
    }
}

