@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

.text-animation {
  font-size: 65px;
  font-family: 'Poppins', sans-serif;   
  font-weight: 600;  
  color: rgb(43, 37, 37);
  opacity: 0;
  animation: fadeIn 0.2s 0.4s;
  animation-fill-mode: forwards ;
  
}

.letter {
  display: inline-block;
}

.space{
  margin: 0px 5px;
}
