@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

.text-animation {
  font-size: 65px;
  font-family: 'Poppins', sans-serif;   
  font-weight: 600;
  line-height: 1.2;  
  color: #767676;
  animation-delay: 1s;
}

.letter {
  display: inline-block;
  letter-spacing: -4px;
}

.space{
  margin: 0px 2px;
}

.theme-2{
  color:#FF5A5F;
}

@media only screen and (max-width: 1100px) {
  .text-animation{
      font-size: 59px;
  }
}


@media only screen and (max-width: 968px) {
  .text-animation{
      font-size: 52px;
  }
}


@media only screen and (max-width: 850px) {
  .text-animation{
      font-size: 47px;
  }
}

@media only screen and (max-width: 740px) {
  .text-animation{
      font-size: 37px;
  }
}
