* {
    box-sizing: border-box;
}

.button--box{
    margin: 5px;
    padding: 0px;
    border: none;
    cursor: pointer;
}

.box{
    width: 200px;
    height: 200px;
    margin: 0px;
    border-radius: 5px;
}

